@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    $(document).ready(function () {
        var chart;
        $.get('temperature/get', function (data) {
            var arrayData = [];
            for (var i = 0; i < data.length; i++) {
                var date = data[i].DateTime;
                var value = data[i].Temperature;
                var jdate = eval(date.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")).getTime();
                arrayData.push([jdate, value]);
            }
            chart = $.jqplot('chartdiv', [arrayData], {
                title: 'Temperature',
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        tickOptions: { formatString: '%#d %b, %R' },
                        numberTicks: 7
                    }
                }
            });
        });

        //var myVar = setInterval(function () { RefreshTemperature() }, 30000);

        //function RefreshTemperature() {
        //    $.get('currentTemperature', function (data) {
        //        document.getElementById("temperature").innerHTML = data;
        //    });

        //    $.get('historicData', function (data) {
        //        var arrayData = eval(data);
        //        if (chart) {
        //            chart.data = [arrayData];
        //            chart.replot({ resetAxes: true });
        //        }
        //    });
        //}
    });
</script>

<div style="margin:10px" id="chartdiv"></div>
